aioredis~=2.0
beautifulsoup4
celery[redis]~=5.3.6
click
click-plugins
colorlog
cssselect
feedparser
google-cloud-aiplatform
google-cloud-vision
google-generativeai
google-api-python-client
httpx
reportlab
pdfminer.six
numpy==1.26.4
lxml_html_clean
stripe
langchain
loguru
nest_asyncio
nltk
openai
pandas
Pillow
psycopg2-binary
pydantic>=2.5.0
pydantic-settings
python-dotenv
python-json-logger
redis
requests
scikit-learn
supabase~=2.5.0
tiktoken
tqdm
uvicorn
youtube-transcript-api
youtube_dl
pytube
asyncpg
greenlet
gevent
ruff
trafilatura
gunicorn==23.0.0
google-auth-oauthlib
google-auth-httplib2
sentry-sdk[fastapi]
google-cloud-texttospeech
python-multipart